$primary-orange: rgb(255, 80, 0);
$primary-grey: rgb(83, 86, 90);
$accent-white: rgb(255, 255, 255);
$accent-black: rgb(0, 0, 0);
$accent-lime: rgb(194, 213, 0);
$accent-turquoise: rgb(0, 160, 225);
$accent-magenta: rgb(230, 0, 125);
$accent-yellow: rgb(255, 240, 0);
$accent-green: #228B22;

