@use 'colors';
@use 'fonts';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/leaflet/dist/leaflet.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {

}

p {
  font-family: fonts.$robotoslab;
  font-weight: fonts.$m;
}

#navbar-brand-img {
  height: auto;
  width: 10em;
}
.carousel-control-prev, .carousel-control-next{
  filter: invert(1);
}

.carousel-item img{
  position: relative;
}

.carousel-caption{
  color: black;
  font-size: 1em;
}

#map-card-body{
  position: relative;
  height: 400px;
  width: 100%;
}
#banner{
  height: 15em;
  background-position: center bottom;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
#banner-card{
  background-color: rgba(255, 255, 255, 0.7);
  padding: 0 1em;
  color: black;
}
.carousel-caption{
  top: 50%;
  bottom: initial;
  transform: translateY(-50%);
  p{
    margin-bottom: 0;
  }
}

#briefing-section{
  display: none;
}

#flag-img{
  background-image: url("../assets/pictures/united-kingdom.png");
  background-size: cover;
  display: inline-block;
  width: 2em;
  height: 1.70em;
}

#change-language-btn{
  padding: 0;
  margin: 0.25em 0.5em;
}

@include media-breakpoint-down(lg) {
  #banner{
    background-position: center -7em !important;
    background-attachment: unset;
  }
}

@include media-breakpoint-down(md) {
  #banner{
    background-position: center -4em !important;
    background-attachment: unset;
  }
  .carousel-item{
    background: colors.$primary-orange;
    height: 5em;
  }
}

@include media-breakpoint-down(sm) {
  #banner{
    background-position: center 0 !important;
    background-attachment: fixed;
  }
  .container{
    padding: 0 3px;
  }
}
