@use 'colors';
@use 'fonts';
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "../../node_modules/leaflet/dist/leaflet.css";

* {
  margin: 0;
  box-sizing: border-box;
}

body {

}
p {
  font-family: fonts.$robotoslab;
  font-weight: fonts.$m;
}



#navbar-brand-img {
  height: auto;
  width: 10em;
}
.carousel-control-prev, .carousel-control-next{
  filter: invert(1);
}

.carousel-item img{
  position: relative;
}

.carousel-caption{
  color: black;
  font-size: 1em;
}

#map-card-body{
  position: relative;
  height: 400px;
  width: 100%;
}
